// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.feed-image-container > img {
    width: 25vW;
    height: 25vw;
    object-fit: cover;

    @media (max-width: 1024px) {
        width: 30vw;
        height: 30vw;
    }
}
