// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.feed-image-container .feed-image-item {
    // background: red;
    float: left;
    height: 25vw;
    object-fit: cover;
    margin: 2px;
    width: 25vw;


    // &:hover {
    //     .image-container {
    //         display: none;
    //     }
    //
    //     .colors-container {
    //         display: block;
    //     }
    // }

    @media (max-width: 1024px) {
        width: 30vw;
        height: 30vw;
    }
}

.feed-image-container > *:hover {
    .image-container {
        display: none;
    }

    .colors-container {
        display: block;
    }
}

.colors-container {
    display: none;

    & > * {
        height: 50%;
        width: 100%;
    }

    .dominant-colors {
        display: flex;

        * {
            width: inherit;
        }
    }
}
